.dpb-fileupload {
	width: 100%;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #F1F1F1;
	min-height: 200px;

	&.dpb-has-files {
		min-height: auto;
	}

	> .dpb-placeholder {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		font-size: 24px;
		color: #BBB;
		top: 35%;
		z-index: 1;
		> .dpb-placeholder.dpb-placeholder-sub {
			font-size: 16px;
		}
		&.dpb-placeholder-onDragOver {
			top: 40%;
			display: none;
		}
	}
	> .dpb-list-files {
		position: relative;
		z-index: 3;
		padding: 0px;
		margin: 0px;
		text-align: left;
		.dpb-header-bar {
			width: 100%;
			display: flex;
			flex-direction: row;
			font-size: 14px;
			padding: 5px 0;
			border-bottom: 1px solid #F1F1F1;
			> div {
				flex-grow: 4;
				&.dpb-header-name {
					flex: 1 80%;
				}
				&.dpb-header-size {
					flex: 1 10%;
				}
				&.dpb-header-options {
					flex: 1 5%;
				}
			}
		}
		.dpb-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			font-size: 14px;
			padding: 5px 0;
			> div {
				flex-grow: 4;
				&.dpb-item-name {
					flex: 1 80%;
				}
				&.dpb-item-size {
					flex: 1 10%;
				}
				&.dpb-item-options {
					flex: 1 5%;
					.dpb-delete-button {
						cursor: pointer;
					}
				}
			}
		}
	}
	&.dpb-dpz-onDragOver {
		> .dpb-placeholder {
			&.dpb-placeholder-normal {
				display: none;
			}
			&.dpb-placeholder-onDragOver {
				display: block;
			}
		}
	}
}
.dpb-fileupload-input {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0;
	outline: none;
}
.dpb-fileupload-actions {
	margin-top: 15px;
	text-align: right;
	>.dpb-action-add {
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
}
